@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 align="centre">Contact Us</h2>
    <br/>


    <address>
        Email ID: Manish24056@gmail.com<br/>
         Phone No: +917371909379<br/>
        Cognizant Solutions<br/>
    </address>

</main>